<p>
    A continuacion encontrara las estadisticas de Quiz:
</p>
<br>
<p>Numero de preguntas: <%= statistics.NumberOfQuestions %></p>
<p>Numero de comentarios: <%= statistics.NumberOfComments %></p>
<p>Numero medio de comentarios por pregunta: <%= statistics.AverageOfComments %></p>
<p>Numero de preguntas sin comentarios: <%= statistics.NumberOfQuestionsWithoutComments %></p>
<p>Numero de preguntas con comentarios: <%= statistics.NumberOfQuestionsWithComments %></p>